# S3 Bucket - {{ service.purpose }}
resource "aws_s3_bucket" "{{ service.id }}" {
  bucket = "{{ service.id }}-${random_id.bucket_suffix.hex}"

  tags = {
    Name = "{{ service.id }}"
    Purpose = "{{ service.purpose }}"
  }
}

resource "random_id" "bucket_suffix" {
  byte_length = 4
}
